<h1>create task</h1>
<form action="/tasks/create" method="POST" class="form">
    <label>Name:</label>
    <input type="text" name="name" placeholder="Write the name of the task">
    <label>Description:</label>
    <textarea name="description" placeholder="Describe the task"></textarea>
    <button type="submit">Create</button>
</form>